div {
  animation-name: fadein;
  animation-duration: 250ms;
}

div.navbar {
  border-radius: 0px;
}

div.introtext-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

div.introtext-box {
  background-color: #383f3f88;
  width: fit-content;
  border: 2px solid darkgray;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  @media (max-width: 1280px) {
    padding: 0.75em;
    font-size: smaller;
  }
}

.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  align-items: center;
}

.navbar-item a {
  color: #bbbbbb;
}

div .navbar-item img {
  max-height: 2.75em;
}

.active-navbar-item a {
  font-weight: bolder;
}

.footerImage {
  max-height: 4em;
  max-width: 100%;
  width: inherit !important;
}

.footer.less-bottompadding {
  padding-bottom: 3em;
}

a.adminactive {
  font-weight: bolder;
}

.highlights {
  margin: 0em 1em;
}

#logo {
  margin: 0em 1em;
  padding: 1em;
}

.calendar-cardtitle {
  width: 100%;
}

.calendar-title {
  padding: 0.33rem !important;
}

.calendar-card-spacer {
  height: 24px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.calendar-day:hover {
  border-color: white;
}

.calendar-image {
  margin: 3px;
}

div.card-content.card-title.card-logo-title.ongoing-event-card-title {
  border-radius: 5px 5px 0px 0px;
}

.ongoing-event-card div {
  background-color: #191919;
}

.ongoing-event-card div.card-content table {
  background-color: #191919;
}

.openinghours-mobile {
  @media (max-width: 400px) {
    padding: 0px;
    margin: 0px;
    font-size: smaller;
  }
}

.strikeover {
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 3px),
    rgba(255, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) calc(50% + 3px),
    rgba(0, 0, 0, 0) 100%
  ) !important;
}

.today-view-cards-space {
  padding-top: 10px;
}

.card-title-border {
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.event-card-footer {
  animation-name: heightgrow;
  animation-duration: 500ms;
}

div.card-footer.is-hidden-mobile {
  border-width: 0px;
  background-color: #282f2f;
}

figure.is-64x64.image.event-icon {
  height: 64px;
  width: 64px;
}

.event-icon-title {
  height: 100px;
}

.category-image {
  height: 50px;
}

.category-smallimage {
  height: 32px;
  width: 32px;
}

.imagepicker-box {
  width: 100%;
  height: 87.5px;
}

div.imagepicker-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagepicker-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  max-height: 50px;
}

table.table.eventinfo-table {
  background-color: #282f2f;
  // width: 100%;
}

table.table.eventinfo-table tr td {
  border-bottom-width: 0px;
  border-bottom-color: #282f2f;
  padding: 5px 1em;
}

table.table.eventinfo-table tr :first-child {
  width: 0.3em;
}

table.table.eventinfo-table tr :nth-child(2) {
  padding-right: 0px;
  font-weight: bold;
  width: fit-content;
}

.allinfolink {
  padding-left: 16px;
}

div.card-content.card-title.card-logo-title {
  padding: 10px 0px;
}

figure.event-icon-title.event-item {
  display: flex;
  justify-content: center;
}

.image.event-icon-title img {
  height: 100px;
  width: auto;
}

figure.event-icon img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

div.media-content.event-card-title {
  padding-left: 1em;
}

div.more-to-scroll {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  right: 30%;

  @media (max-width: 400px) {
    right: 10%;
  }
  animation: scrollmarkerin;
  animation-duration: 1s;
  opacity: 0.7;
}

div.more-to-scroll i.fas.fa-angle-double-down {
  font-size: 50px;
}

.is-all-caps {
  text-transform: uppercase;
}

.speech-bubble {
  height: 2.5em;
  width: auto;
  height: auto;
  position: relative;
  padding: 0.5em 1.25em;
  margin-left: 1.5em;
  border-radius: 4px 10px 10px 5px;
  line-height: 2em;
}

.speech-bubble-odd {
  background: white;
  color: black;
}

.speech-bubble-even {
  background: black;
  color: white;
}

.speech-bubble-even:before {
  border-right: 1em solid black;
}

.speech-bubble-odd:before {
  border-right: 1em solid white;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  left: -0.95em;
  bottom: 0;
  top: 0.5em;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
}

.margin-leftright {
  margin-left: 1em;
  margin-right: 1em;
  background-color: transparent !important;
  border: 0px !important;
  background: alpha($color: #ffffff) !important;
}

.is-higher {
  margin-top: -3em;
  margin-right: 2em;
}

.eventcard {
  perspective: 800px;
  animation-name: fadein;
  animation-duration: 500ms;
}

.card-header-image-container {
  display: flex;
  justify-content: center;
}

.eventcard-header-image {
  max-height: 200px;
  width: auto;
}

.languageflag {
  height: 1em;
  padding-right: 1em;
}

.thumbnail {
  height: 4em;
  border: 1px solid white;
  padding: 0px;
}

.fade-in {
  perspective: 800px;
  animation-name: fadein;
  animation-duration: 500ms;
}

button.image-square {
  width: 96px;
  height: 96px;
}

.eventlistitem {
  animation-name: scrollin;
  animation-duration: 250ms;
}

.card.today-card {
  border: 2px solid #797f7f;
  background-color: #383f3f;
}

.card.past-card {
  border: 2px solid #020a1b;
  background-color: #161d1d;
}

thead tr.is-vcentered-title th {
  font-weight: bolder;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: capitalize;
}

thead tr.is-vcentered-title th button.button {
  margin-left: 1em;
}

table thead th.storecreditreport-categorycolor {
  width: 1%;
  max-width: 1%;
}

table thead th.storecreditreport-category {
  width: 10%;
  max-width: 10%;
}

table thead th.storecreditreport-name {
  width: 15%;
  max-width: 15%;
}

table thead th.storecreditreport-note {
}

table thead th.storecreditreport-day {
  width: 1%;
}

table thead th.storecreditreport-month {
  width: 1%;
}

table thead th.storecreditreport-year {
  width: 1%;
}

table thead th.storecreditreport-amount {
  width: 10%;
  max-width: 10%;
}

@keyframes heightgrow {
  0% {
    max-height: 0%;
  }

  100% {
    max-height: 100%;
  }
}

@keyframes scrollin {
  0% {
    opacity: 0;
    transform: translate3d(10px, 0px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scrollmarkerin {
  0% {
    opacity: 0;
    transform: translate3d(0px, 0px, -100px);
  }

  25% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }

  75% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0.7;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(0px, 20px, -100px);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes plainfadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@import "node_modules/bulma/bulma.sass";
@import "node_modules/bulma-extensions/bulma-tooltip/dist/bulma-tooltip.sass";
